body {
    background-color: grey;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

section.panel {
    background-color: lightgrey;
}

section.chunk {
    background-color: white;
}