/*Typography*/
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded|Permanent+Marker|Cabin+Sketch|Oxygen|Rock+Salt);
html {
    font-size: 18px; /* fallback */
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem; /* reset */
    line-height: 1.5;
}

p, li {
    font-size: 1rem; /* reset */
    font-family: 'Oxygen', sans-serif;
}

header h1 {
    font-size: 3rem;
    font-family: 'Stint Ultra Expanded', cursive;
    text-align: center;
}

header h2 {
    font-size: 1.25rem;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    margin: 1em 2em;
}

.show {
    text-align: center;
}

header p {
    text-align: center;
    line-height: 2em;
    margin: 1em 3em;
}

.chunk.main h1 {
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-family: 'Stint Ultra Expanded', cursive;
    text-align: center;
    margin: .5em 0;
    overflow: hidden;
}

.chunk.main h2, .chunk.extra h1 {
    font-size: 1.5rem;
    line-height: 2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    
}

.chunk.main h3, .chunk.extra h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.25rem;
    margin: 0 1em;
}

.price {
    font-size: 1.25em;
    font-family: 'Permanent Marker', cursive;
}

.chunk p {
    margin: .5em 1.5em 2em 1.5em;
}

ul {
    padding: 0;
}

.social li {
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    padding: .5rem;
    width: 50%;
    margin: .5rem 25%;
}

a.social {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
}

footer p {
    font-size: 75%;
    text-align: right;
    margin-right: 1em;
}

/*Layout*/
.price {
    float: right;
    top: 0;
}

.slide {
    width: 90%;
    max-width: 640px;
    height: auto;
    box-sizing: border-box;
}

.chunk {
    margin: 1em;
    overflow: auto;
    box-sizing: border-box;
}

.panel {
    overflow: auto;
    margin: 1em 0;
    width: 100%;
}



header, footer {
    overflow: auto;
}

.bender {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filler {
    width: 66%;
    max-width: 12rem;
}

a.social {
    padding: .5rem;
}

@media (min-width: 800px) {
    .bender {
        height: 26.5rem;
        -webkit-column-break-after: always;
    }
    .flexo {
        height: 25.45rem;
    }
    
    .chunk {
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
    }
    .panel {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        
        -webkit-column-gap: 0;
        column-gap: 0;
    }
    
    #social {
        -webkit-column-span: all;
        column-span: all;
        margin-top: 0;
    }
    
    ul {
        width:80%;
        margin: 0 10%;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    
    .social li {
        display: inline;
        margin: 1rem;
        padding: 1rem;
    }
}

@media (min-width: 990px) {
    .bender {
        height: 25.4rem;
    }
    .flexo {
        height: 20.6rem;
    }
    .panel {
        max-width: 990px;
        margin: 1em auto;
    }
}

/*Color*/
body {
    background-color: rgb(140, 140, 140);
    color: rgb(13, 13, 13);
}

.panel {
    background-color: rgb(217, 217, 217);
}

.chunk {
    background-color: rgb(245, 245, 245);
    border: .25rem solid rgb(0, 146, 191);

}

header h1 {
    color: rgb(13, 13, 13);
}

header h2 {
    color: rgb(245, 245, 245);
}

header p {
    color: rgb(245, 245, 245);
}

footer p, footer a {
    color: rgb(13, 13, 13);
}

.chunk.main h1 {
    color: rgb(13, 13, 13);
    border-bottom: .25rem solid rgb(0, 146, 191);
}

.chunk.main h2, .chunk.extra h1 {
    color: rgb(0, 146, 191);
}

.chunk.main h3, .chunk.extra h2 {
    color: rgb(51, 51, 51);
}

.price {
    color: rgb(227, 79, 38);
}

a.social {
    background-color: rgb(112, 219, 112);
    color: rgb(245, 245, 245);
    border: .25rem solid rgb(140, 140, 140);
}

.slide {
    border: 1rem solid rgb(245, 245, 245);
}

/*Style*/
.panel {
    box-shadow: 0 0 2rem rgb(200, 200, 200), 0 0 1rem rgb(13, 13, 13) inset;
}

.chunk {
    box-shadow: .25rem .25rem .5rem rgb(140, 140, 140);
    border-radius: .15rem;
}

header h1 {
    text-shadow: .25rem .25rem .5rem rgb(51, 51, 51), .1rem .1rem 0 rgb(227, 79, 38);
}

header h2 {
    text-shadow: 0 0 .5rem rgb(51, 51, 51), .1rem .1rem 0 rgb(0, 146, 191);
}

header p {
    font-style: italic;
    text-shadow: 0 0 .5rem rgb(13, 13, 13);
}

.chunk.main h1 {
    text-shadow: 0 0 .15rem rgb(227, 79, 38);
}

.chunk.main h3, .chunk.extra h2 {
    text-shadow: .25rem .25rem .5rem rgb(140, 140, 140);
}

.price {
    text-shadow: 0 0 .15rem rgb(13, 13, 13), .15rem .15rem .25rem rgb(140, 140, 140);
}

.chunk.main h2, .chunk.extra h1 {
    text-shadow: .25rem .25rem .5rem rgb(140, 140, 140), .1rem .1rem 0 rgb(227, 79, 38);
}

.slide {
    box-shadow: .15rem .15rem .25rem rgb(13, 13, 13);
}

a.social {
    text-shadow: 0 0 .15rem rgb(13, 13, 13), .15rem .15rem .25rem rgb(140, 140, 140);
    text-decoration: none;
    border-radius: .75em;
    box-shadow: .25rem 1rem 1rem rgb(200, 200, 200), .1rem .1rem 0 rgb(227, 79, 38);
}
